DB_URI=mongodb+srv://learn-nestjs:learn-nestjs@learn-nestjs.3pbhfyi.mongodb.net/

JWT_ACCESS_SECRET=GO8Ub4jDtsNf04EhEv43x3+opNLrCrR5sn271RZdVpfPSlS6lzOylGovmLKczjsllXvj8ItB/LZIzD/gEVoN7QG9AmARY7nvUEV59hZmwMyeF92Gu4SSoXWnVm4sBaQnrqbz7fLHLgU7XnQ4Oe/tCG8Xy/z4rQojhD6Rfwm5/1JdiyIGFTcv28Rbx9QAgy3TbpBuG4RbbyBzXGbVGJbJqsulXXAagaTjQ2GKKXKNLv9CsQSmftdFIKMMS/mpabxdhS0Wi3YrJOp5WV1kM/TyAgeBguPwc0n+TkOXUr1bj4b7dLLkaau+EtkXjkqKuRco+ACmXV9GmFW5Y/q5lpM4tA==
JWT_ACCESS_EXPIRES=3m

JWT_REFRESH_SECRET=c6A3KBkbRPR5w10QYzKjCOFryOy1Lr+jKoRGwK8zxA33BtV2iKzxGNOsRFUe3xy9/ZsvbFbPZxBGjE+mwEsK0FSx91ARzmCRwZH1qwQGsa6JWGWqE3KQgkrKUYKFcOLhbPfId/esvsv30d0OA7IP68vDQNfJ+WlVlCqNzjBVaT8KmeSfcqeaDYDsnQpcZkLeZeZb4g2K9nMjrTYCAoeMlULcCXTiyKG2MeNp5fhKkZw649YkU2rmrAekV+7j6I1kP2jF7Ton7zBDoelBiWJN64G1dmyN7HwFDXqaEgSKllRG2LSDflIHXIMPGNDt80Ew/8j8EaTivInF+QZulHs+fA==
JWT_REFRESH_EXPIRES=1m